@tailwind base;
@tailwind components;
@tailwind utilities;

button {
    @apply outline-none;
}
* {
    font-family: "Geologica", sans-serif;
    font-optical-sizing: auto;
    user-select: none;
}
.cursor-glow {
    position: fixed;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    pointer-events: none;
    filter: blur(20px);
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease-out;
    z-index: -5;
}

#header-menu {
    @apply w-screen flex flex-col fixed z-20 bg-inherit list-none pt-8 text-white;
    height: 100lvh;
    top: 56px;
    transform: translateX(100vw);
    transition: 0.2s;
}
#header-menu.active {
    transform: translateX(0);
}

#header-menu > li {
    @apply w-full;
}
#header-menu > li > a {
    @apply p-4 text-xl block text-center w-full transition hover:text-sky-400;
}
.action-button {
    @apply w-48 py-4 bg-sky-500 text-white text-xl rounded-xl transition shadow-lg shadow-slate-950 outline-none text-center relative;
}
.action-button::before {
    @apply rounded-xl transition w-full h-full opacity-0 shadow-inner shadow-slate-950 block absolute top-0 left-0;
    content: "";
}
.action-button:focus, .action-button:hover {
    @apply bg-sky-600 shadow-none;
}
.action-button:active {
    @apply bg-sky-700;
}
.action-button:active::before {
    @apply opacity-100;
}

.screen-section {
    @apply container relative mx-auto flex justify-center items-center flex-col px-4 text-left font-medium pt-16 z-10;
    min-height: 100lvh;
}
.action-button-header {
    @apply action-button;
    @apply py-2 px-6 w-fit shadow-none text-base mr-4;

}
.feature-block {
    @apply p-8 mt-6 bg-opacity-60 bg-slate-800 rounded-xl text-white shadow-2xl shadow-slate-950 flex backdrop-brightness-75 backdrop-blur-sm;
}
.feature-block > img, .filtered-to-blue {
    filter: brightness(0) saturate(100%) invert(53%) sepia(88%) saturate(1512%) hue-rotate(165deg) brightness(91%) contrast(100%);
}
.bg-icon {
    height: auto;
}

.bg-icon.layer-1 {
    width: 80px;
    z-index: -1;
    filter: brightness(0) saturate(100%) invert(5%) sepia(15%) saturate(3264%) hue-rotate(196deg) brightness(94%) contrast(106%);
}
.bg-icon.layer-2 {
    width: 40px;
    z-index: -2;
    filter: brightness(0) saturate(100%) invert(7%) sepia(6%) saturate(6724%) hue-rotate(193deg) brightness(95%) contrast(107%);
}
.bg-icon.layer-3 {
    width: 25px;
    z-index: -3;
    filter: brightness(0) saturate(100%) invert(7%) sepia(19%) saturate(1390%) hue-rotate(181deg) brightness(100%) contrast(103%);
}
.carousel-item {
    @apply w-full lg:w-1/2 shrink-0 p-4 md:p-8;
}
.carousel-container {
    @apply overflow-hidden relative;
}
.slide-description {
    @apply text-slate-200 text-xl font-light mt-6 bg-slate-800 bg-opacity-60 backdrop-brightness-75 backdrop-blur-sm shadow-md shadow-slate-950 rounded-2xl p-6;
}
.slider-button {
    @apply absolute top-1/2 text-white rounded-full h-12 w-auto cursor-pointer z-10;
}
.slider-button.back {
    @apply -left-4 rotate-180;
}
.slider-button.next {
    @apply -right-4;
}
.inheader-icon {
    @apply h-12 mr-4;
    filter: brightness(0) saturate(100%) invert(71%) sepia(66%) saturate(4917%) hue-rotate(166deg) brightness(92%) contrast(98%);
}



@media screen and (min-width: 640px) {

}

@media screen and (min-width: 768px) {
    .screen-section {
        width: 42rem;
    }
    #header-menu {
        @apply w-fit transform-none top-0 flex flex-row relative h-auto p-0;
    }
    #header-menu > li {
        @apply w-auto p-0;
    }
    #header-menu > li > a {
        @apply py-2 px-4 text-sm;
    }
}
@media screen and (min-width: 1024px) {
    .feature-block.first {
        width: calc(60% - 0.75rem);
    }
    .feature-block.second {
        width: calc(40% - 0.75rem);
    }
    .feature-block.third {
        width: calc(35% - 0.75rem);
    }
    .feature-block.fourth {
        width: calc(65% - 0.75rem);
    }
}
@media screen and (max-width: 768px) {
    #header-menu {
        @apply bg-slate-700;
    }

}